:root {
    --primary-color: rgb(50, 41, 47);
    --secondary-color: rgb(215, 219, 222);
    --accent-color: rgb(248, 78, 69);
    --text-color: white;
    --background-color: rgb(112, 93, 86);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
}

.header__logo {
    height: 2.5rem;
}

.header__profile {
    display: flex;
    align-items: center;
}

.header__name {
    margin-right: 0.5rem;
}

.header__picture {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.main {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.form {
    max-width: 800px;
    width: 100%;
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.form__section {
    margin-bottom: 2rem;
}

.form__title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.form__label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.form__row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
}

.form__input,
.form__select {
    flex: 1;
    min-width: calc(50% - 1rem);
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.form__selected-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0.5rem;
}

.form__selected-skill {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 0.5rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.form__actions {
    display: flex;
    justify-content: space-between;
}

.form__button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    color: var(--text-color);
    font-size: 1rem;
}

.form__button--save {
    background-color: var(--accent-color);
    transition: background-color 0.3s ease;
}

.form__button--save:hover {
    background-color: darken(var(--accent-color), 10%);
}

.form__button--delete {
    background-color: #d9534f;
    transition: background-color 0.3s ease;
}

.form__button--delete:hover {
    background-color: #c9302c;
}

.form__input[type="file"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    margin-top: 10px;
}


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup__content {
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 0.25rem;
    text-align: center;
    position: relative;
}

.popup__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.popup__input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.popup__button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--text-color);
}

@media (max-width: 768px) {
    .form__input,
    .form__select {
        min-width: 100%;
    }

    .form__row {
        flex-direction: column;
    }

    .form__actions {
        flex-direction: column;
        gap: 1rem;
    }
}
