:root {
    --primary-color: rgb(50,41,47); 
    --secondary-color: rgb(215,219,222); 
    --accent-color: rgb(248,78,69); 
    --text-color: white;
    --background-color: rgb(112,93,86); 
}  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: .1rem solid #E2E8F0;
    background-color: var(--background-color);
    letter-spacing: 0.2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 2.5rem;
    height: .3rem;
    margin: .5rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    transition: all 0.4s;
}

.nav-link:hover{
    color:var(--accent-color);
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--text-color);
}

.logo {
    width: 10rem;
}



@media only screen and (max-width: 76.8rem) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color:var(--primary-color);
        width: 100%;
        border-radius: 1.0rem;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 1.0rem 2.7rem rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(.8rem) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-.8rem) rotate(-45deg);
    }

}
