:root {
    --primary-color: rgb(50,41,47); 
    --secondary-color: rgb(215,219,222); 
    --accent-color: rgb(248,78,69); 
    --text-color: white;
    --background-color: rgb(112,93,86); 
}  

.main {
    width: 100vw;
   /* max-width: 120.0rem;*/
    text-align: center;
    padding: 1rem;
    background-color: var(--secondary-color);
    
}

.main__title {
    font-size: 3.6rem;
    margin-bottom: 2.0rem;
    color: var(--primary-color);
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2.0rem;
    flex-wrap: wrap;
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 2.0rem;
    max-width: 50%;
    flex-grow: 1;
}

.step {
    display: flex;
    align-items: center;
}

.step__icon {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 2.4rem;
    width: 4.0rem;
    height: 4.0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 2.0rem;
}

.step__content {
    max-width: 40.0rem;
    text-align: left;
}

.step__title {
    font-size: 2.4rem;
    margin-bottom: .5rem;
}

.step__description {
    font-size: 1.6rem;
}

.screenshot {
    max-width: 50%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.screenshot__image {
    max-width: 100%;
    
}

/* Responsive Design */
@media (max-width: 76.8rem) {
    .main__title {
        font-size: 2.8rem;
        color: var(--text-color);
    }

    .main {
        background-color: var(--background-color);
        
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .steps, .screenshot {
        max-width: 100%;
    }

    .steps {
        order: 2;
    }

    .screenshot {
        order: 1;
        margin-bottom: 2.0rem;
    }

    .step__title {
        font-size: 2.0rem;
        color: var(--text-color);
    }

    .step__description {
        font-size: 1.4rem;
        color: var(--text-color);
    }
}
