:root {
    --primary-color: rgb(50,41,47); 
    --secondary-color: rgb(215,219,222); 
    --accent-color: rgb(248,78,69); 
    --text-color: white;
    --background-color: rgb(112,93,86); 
}  


.testimonials {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin-left: 10%;
}

.testimonials__title {
    font-size: 32px;
    margin-bottom: 20px;
}

.testimonials__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.testimonial {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.4s;
}

.testimonial:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: var(--background-color);
}

.testimonial__text {
    font-size: 16px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.testimonial__author {
    display: flex;
    align-items: center;
}

.testimonial__photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.testimonial__info {
    display: flex;
    flex-direction: column;
}

.testimonial__name {
    font-weight: bold;
    color: var(--secondary-color);
}

.testimonial__location {
    font-size: 14px;
    color: var(--text-color);
}

/* Responsive Design */
@media (max-width: 992px) {
    .testimonials__grid {
        grid-template-columns: 1fr 1fr;
    }

    .testimonials {
        margin-left: 0%;
    }
    
}

@media (max-width: 768px) {
    .testimonials__title {
        font-size: 24px;
    }

    .testimonials__grid {
        grid-template-columns: 1fr;
    }

    .testimonial {
        margin-bottom: 20px;
        margin-left: 0%;
    
    }
}