body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #705D56;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 80%;
    height: 80%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.sidebar {
    width: 20%;
    background-color: #99E1D9;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar .menu-item {
    padding: 15px;
    color: #32292F;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar .menu-item:hover {
    background-color: #99E1D9;
}

.content {
    width: 80%;
    padding: 20px;
    overflow-y: auto;
}

.content-item {
    display: none;
}

.content-item.active {
    display: block;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b69494;
}